@model OnlineShop.Models.MWarehouse

@{
    Layout = null;
}
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarehouseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarehouseAddress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarehouseAddress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarehouseAddress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarehouseAddress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarehouseAddress3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarehouseAddress3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pincode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pincode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mcity.sCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mcity.sCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mstate.sState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mstate.sState)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
