@model IEnumerable<OnlineShop.Models.MWarehouse>

@{
    ViewBag.Title = "Index";
}
<h2>List Of Warehouse</h2>
<p>
    <button class="btn btn-primary editCustomer" data-details="Create" id="n1" data-controller="Warehouse">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Create New
    </button>
</p>
<table class="table table-striped table-bordered" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseAddress3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pincode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mcity.sCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mstate.sState)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseAddress1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseAddress2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseAddress3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pincode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mcity.sCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mstate.sState)
                </td>
                <td>
                    <button class="btn btn-success editCustomer glyphicon glyphicon-pencil" id="@item.MW_ID" data-details="Edit" data-controller="Warehouse">Edit</button>
                    <button class="btn btn-danger editCustomer glyphicon glyphicon-remove" id="@item.MW_ID" data-details="Delete" data-controller="Warehouse">Delete</button>
                </td>
            </tr>
        }

</table>
