@model IEnumerable<OnlineShop.Models.Mclient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerFname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustoemrLname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlternateNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermanentAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerrmanentAddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermanentAddress3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MUser.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerFname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustoemrLname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlternateNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermanentAddress1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerrmanentAddress2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermanentAddress3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MUser.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MC_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.MC_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MC_id })
        </td>
    </tr>
}

</table>
