@model OnlineShop.Models.MSupplierProductMap

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MSupplierProductMap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MProduct.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MProduct.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSupplier.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSupplier.SupplierName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nmap_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
