@model IEnumerable<OnlineShop.Models.MSupplierProductMap>

@{
    ViewBag.Title = "Index";
}
<h2>List Of Suppliers</h2>
<p>
    <button class="btn btn-primary editCustomer" data-details="Create" id="n1" data-controller="SupplierProductMap">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Create New
    </button>
</p>
<table class="table table-striped table-bordered" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MProduct.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MSupplier.SupplierName)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MProduct.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MSupplier.SupplierName)
            </td>
            <td>
                <button class="btn btn-success editCustomer glyphicon glyphicon-pencil" id="@item.nmap_id" data-details="Edit" data-controller="SupplierProductMap">Edit</button>
                <button class="btn btn-danger editCustomer glyphicon glyphicon-remove" id="@item.nmap_id" data-details="Delete" data-controller="SupplierProductMap">Delete</button>
            </td>
        </tr>
    }

</table>
